/* layout */

.App{
    display: flex;
}

.container{
    padding: 32px;
    display: flex;
    row-gap: 32px;
    flex: 1;
}

.table{
    display: flex;
    row-gap: 32px;
    padding-top: 16px;
}

.tabs{
    width: 100%;
}

.tabs--buttons{
    display: flex;
    justify-content: space-between;
}

.tabs--buttons-main{
    display: flex;
    column-gap: 24px;
    flex: 1;
}

.filter{
    display: flex;
    justify-content: space-between;
}

.filter--button{

}

.filter--search{

}

/* Components */

/* primary button */
.mainButton{
    background-color: var(--colours-purple);
    color: var(--colours-white-100);
    border-radius: var(--global-button-lg);
    font-size: var(--global-s-16);
    padding: var(--global-p-12) var(--global-p-16);

}

/* tabs-version-1 */
.tabs-1 button{
    color: var(--colours-black-500);
    background: white;
    border: none;
    color: var(--colours-black-500)
}

.tabs-1 button.Mui-selected{
    border-bottom: var(--global-border-4) solid var(--colours-purple);
    font-weight: var(--global-weight-bold)
}