/* layout */

.App{
    display: flex;
}

.container{
    padding: 32px;
    display: flex;
    row-gap: 32px;
    flex: 1;
}

.table{
    display: flex;
    row-gap: 32px;
    padding-top: 16px;
}

.tabs{
    width: 100%;
}

.tabs--buttons{
    display: flex;
    justify-content: space-between;
}

.tabs--buttons-main{
    display: flex;
    column-gap: 24px;
    flex: 1;
}

.filter{
    display: flex;
    justify-content: space-between;
}

/* Components */

/* primary button */
.CustomButton{
    background-color: white;
    color: var(--main-cta-background-color);
    border-radius: var(--button-lg);
    font-size: var(--font-size-14);
    padding: var(--p-12) var(-p-16);
    border: var(--border-2) solid var(--main-cta-background-color);
    font-weight: 500;
    display: flex;
    column-gap: 8px;
}

.mainButton{
    background-color: var(--main-cta-background-color);
    color: var(--white);
    border-radius: var(--button-lg);
    font-size: var(--font-size-14);
    padding: var(--p-12) var(--p-16);
    border: none;
    line-height: 10px;
    font-weight: 500;
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.secondaryButton{
    background-color: white;
    color: var(--purple-900);
    border-radius: var(--button-lg);
    font-size: var(--font-size-14);
    padding: var(--p-12) var(--p-16);
    border: var(--border-2) solid var(--purple-900);
    font-weight: 500;
    display: flex;
    column-gap: 8px;
    text-transform: capitalize;
    align-items: center;
}

/* tabs-version-1 */
.tabs-1{
    display: flex;
    align-items: center;
}

.tabs-1 button{
    color: var(--colours-black-500);
    background: white;
    padding: var(--p-8) var(--p-8);

    /* reset border styles */
    border: none;

    /* same size as active */
    border-bottom: var(--border-4) solid transparent;
}

.tabs-1 button.Mui-selected{
    border-bottom: var(--border-4) solid var(--main-cta-background-color);
    font-weight: var(--weight-bold)
}

/* table filters */

.filter{
    display: flex;
    column-gap: 32px;
}

.filter--buttons{
    display: flex;
    column-gap: var(--p-8);
    flex: 1;
    align-items: center;
}

.filter--buttons button{
    border-radius: var(--button-sm);
    font-size: var(--font-size-14);
    background-color: white;
    color: var(--colours-black-500);
    padding: var(--p-8) var(--p-8);

    border: none;
    line-height: 10px;
    display: flex;
    /* column-gap: 8px; */
    align-items: center;
    width: fit-content
} 

.filterButton img:first-child{
    padding-right: 8px;
}

.filter--buttons button.active{
    
}

/* .filterButton.active {
    border-radius: var(-button-sm);
    font-size: var(-font-size-14);
    background-color: white;
    color: var(--colours-black-500);
    padding: var(-p-12) var(-p-16);
    border: none;
    line-height: 10px;
    display: flex;
    column-gap: 8px;
    align-items: center;
} */

.filterButton img{
    width: 16px;
    height: 16px;
}

.filter--buttons button.active{
    font-weight: var(--weight-bold);
    background-color: var(--main-cta-background-color);
    color: var(--white)
}

.filter--toolbar{
    display: flex;
    column-gap: 40px;
    align-items: center;
    flex: 1;
    padding-left: 120px;
}

.filter--toolbar-buttons{
    display: flex;
    column-gap: var(--p-16);
}

.search{
    flex: 1;
    display: flex;
}

.search input{
    border-radius: var(--button-lg);
    padding: var(--p-12) var(--p-16);
    box-shadow: inset 0px 3px 14px rgba(32, 0, 112, 0.24);
    flex: 1;
    border: none;
}

.icon--placeholder{
    width: 32px;
    height: 32px;
    border-radius: 4px;
}